* {
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
  resize: none;
}
.contentGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "header header header header"
  "left leftB right rightB";
}
.header {
  grid-area: header;
  justify-self: center;
  margin-bottom: 2%;
  font-size: 3em;
  text-decoration: underline;
  font-family: Impact, Charcoal, sans-serif;
  color: #000;
}
.left {
  grid-area: left;
  justify-self: center;
}
.right {
  grid-area: right;
  justify-self: center;
}
.leftButton {
  grid-area: leftB;
}
.rightButton {
  grid-area: rightB;
}

#keyInputLeft, #keyInputRight {
  width: 20px;
}

.contentGrid div {
  font-family: sans-serif;
  font-size: 1em;
  margin-bottom: 2px;
  margin-left: 2px;
}

textarea {
  font-family: sans-serif;
  font-variant-caps:all-petite-caps;
  border-radius: 10px;
  border-width: 2px;
  padding: 5px;
  margin-bottom: 5%;
  -webkit-transition: border-color 0.2s ease-in-out;
  font-size: 1em;
}
textarea:hover {
  background-color: #f5f5f5;
}
textarea:focus {
  background-color: #fff;
  border-color: #6a6a6a;
}


button {
  border-radius: 3px;
  border:	#a9a9a9 2px solid;
  background-color: #fff;
  padding: 3px;
  margin-top: 250px;
}
button:hover {
  background-color: #f5f5f5;
}
button:active {
  background-color: #fff;
  border-color: #6a6a6a;
}



.wrongInput {
  border-color: red;
}
